<div class="review-index-banner">
  <div class="review-text-content">
     <h1 class="inline">My Favorites</h1>
     <img src="<%= asset_path("airpods.png") %>" class="airpods">
    <h6 class="fave-text">A bookmark for great episodes you want to listen to, all <br>conveniently linked to your Spotify account </h6>
  </div>
</div>

<hr>
  <div class="container">
    <div class="items">
      <div class="items-head">
      <nav>
        <div class="nav nav-tabs" id="fav-tabs" role="tablist">
          <a class="nav-item nav-link active show-tabs" id="nav-to-listen-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">To Listen</a>
          <a class="nav-item nav-link show-tabs" id="nav-past-episodes-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Past Episodes</a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">

  <!-- TO LISTEN TAB -->

        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-to-listen-tab">
          <div class="items-body">
            <% @favorites.each_with_index do |favorite, index|  %>
              <div>
                <div class="items-body-content">
                  <span><%= index + 1 %>.</span>
                    <a><%= favorite.episode.podcast.name %></a>
                    <%= link_to favorite.episode.name, episode_path(favorite.episode) %>
                    <%= link_to favorite.finished? ? "Add to listen" : "Mark as complete",
                      favorite_path(favorite),
                      method: :patch %>

                    <%= link_to favorite_path(favorite), method: :delete do %>
                      <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            <% end  %>
          </div>
        </div>

    <!-- PAST EPISODES TAB -->

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-past-episodes-tab">
          <div class="items-body">
            <% @finished.each_with_index do |favorite, index|  %>
              <div>
                <div class="items-body-content">
                  <span> <%= index + 1 %>.</span>
                    <a><%= favorite.episode.podcast.name %></a>
                    <%= link_to favorite.episode.name, episode_path(favorite.episode) %>
                    <%= link_to favorite.finished? ? "Add to listen" : "Mark as complete",
                    favorite_path(favorite),
                    method: :patch %>

                  <%= link_to favorite_path(favorite), method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end  %>
                </div>
              </div>
            <% end  %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
