<!-- Meta Information -->
<% content_for :meta_title, "#{@episode.name} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @episode.description %>
<% content_for :meta_image, cl_image_path(@episode.podcast.photo.key) %>
<!-- Meta Information -->


<!-- episode show banner -->

<div class="ep-show-banner">
    <div class="ep-show-img-container">
      <%= cl_image_tag @episode.podcast.photo.key, class: "ep-show-img" %>
      <!-- <h2 class="ep-show-title">Episode Title Here</h2> -->
      <h2 class="ep-show-title"><%= @episode.name %></h2>
    </div>
</div>


<!-- tabs in columns & rows -->
<div class="page-content">
  <div class="content-row">
    <div class="content-col-left">

      <div class="tab-container">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active show-tabs" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
            <a class="nav-item nav-link show-tabs" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
            <a class="nav-item nav-link show-tabs" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Player</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <p class="mt-5">Podcast: <%= @episode.podcast.name %></p>
              <p class="">Average rating: <%= '⭐️' * @episode.average_rating if @episode.average_rating.present? %></p>
              <p class="ep-description"><%= @episode.description %></p>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <p class="mt-5">Community Reviews</p>
            <% @reviews.each do |review| %>
              <li><%= review.content %></li>
              <li><%= '⭐️' * review.rating %></li>
            <% end %>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!-- add spotify player here -->
          </div>
        </div>
      </div>

    </div>
    <div class="content-col-right">
      <div class="share-play-box">
        <div class="buttons-container">
          <div class="interact-buttons play-button text-center mt-2"><i class="fas fa-play mr-2"></i> Play Episode</div>
          <div class="interact-buttons black-border-button text-center">Rate Episode</div>
          <div class="interact-buttons black-border-button text-center">Add to Favorites</div>
        </div>
        <div class="icons-container">
          <i class="fas fa-headphones fa-2x icon"></i>
          <i class="far fa-heart fa-2x icon"></i>
          <i class="fas fa-plus fa-2x icon"></i>
          <i class="far fa-bookmark fa-2x icon"></i>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- old layout -->

<h2>We can remove this old layout once the page is finished</h2>

<div class="ep-show-container">
  <div class="row">
    <div class="column left">
      <h3><%= @episode.name %></h3>
       <p><strong>Average rating: </strong><%= '⭐️' * @episode.average_rating if @episode.average_rating.present? %></p>
       <p>Podcast: <%= @episode.podcast.name %></p>
       <p class="mt-4">About this episode:</p>
       <p class="ep-description"><%= @episode.description %></p>

       <div class="ep-icons-container mt-4">
        <div class="listen-on">
          <p>Listen on:</p>
          <a href="#"><i class="fab fa-spotify fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-itunes fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-google-play fa-2x"></i></a>

        </div>
        <div class="share-via">
          <p>Share via:</p>
          <a href="#"><i class="fab fa-instagram fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
       </div>


    </div>
    <div class="column right">
      <%= cl_image_tag @episode.podcast.photo.key, class: "episode-show-image" %>

      <div class="episode-info m-4">
        <% if user_signed_in? %>
            <% if current_user.favorites.where(episode: @episode).empty? %>

              <button class="favorites btn btn-warning">Add to Favorites</button>
              <%= link_to "", episode_favorites_path(@episode), method: :post, remote: true, class: "hidden magic" %>
              <% else %>
              <%= link_to "Remove from Favorites", favorite_path(@favorite), method: :delete, remote: true, class: "favorites btn btn-dark" %>

            <% end %>
        <% end %>
        <h5 class="mt-3">Podcast Categories:</h5>
        <p><%= @episode.podcast.category %></p>
      </div>

    </div>
  </div>


  <div class="reviews-container">
      <h5 class="reviews-heading">Community Reviews:</h5>
      <ul>
      <% @reviews.each do |review| %>
        <li><%= review.content %></li>
        <li><%= '⭐️' * review.rating %></li>
        <% review.tags.each do |tag| %>
        <p> <%= tag.name %></p>
        <% end %>
      <% end %>
      </ul>
      <% if user_signed_in? %>
        <% if current_user.reviews.where(episode: @episode).empty?  %>

          <%= render partial: 'review_form', locals: {episode: @episode, review: @review}  %>
        <% else %>
          <%= link_to "Edit your review", reviews_path, class: "btn btn-dark mt-4"  %>
        <% end %>
      <% end %>
    </div>
  </div>
