<h5><%= @episode.name %></h5>
<p><%= @episode.description %></p>
<p>Average rating: <%= '⭐️' * @episode.average_rating if @episode.average_rating.present? %></p>

<ul>
<% @reviews.each do |review| %>
  <li><%= review.content %></li>
  <li><%= '⭐️' * review.rating %></li>
<% end %>
</ul>



<%= link_to "Back to Home", root_path, class: "btn btn-danger"  %>

<%= render partial: 'review_form', locals: {episode: @episode, review: @review}  %>

<%= link_to "Add to Favorites", episode_favorites_path(@episode), method: :post, class: "btn btn-success" %>

