<!-- Meta Information -->
<% content_for :meta_title, "#{@episode.name} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @episode.description %>
<% content_for :meta_image, cl_image_path(@episode.podcast.photo.key) %>
<!-- Meta Information -->

<div class="ep-show-container">
  <div class="row">
    <div class="column left">
      <h3><%= @episode.name %></h3>
       <p><strong>Average rating: </strong><%= '⭐️' * @episode.average_rating if @episode.average_rating.present? %></p>
       <p class="mt-4">About this episode:</p>
       <p class="ep-description"><%= @episode.description %></p>

       <div class="ep-icons-container mt-4">
        <div class="listen-on">
          <p>Listen on:</p>
          <a href="#"><i class="fab fa-spotify fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-itunes fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-google-play fa-2x"></i></a>

        </div>
        <div class="share-via">
          <p>Share via:</p>
          <a href="#"><i class="fab fa-instagram fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x mr-3"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
       </div>


    </div>
    <div class="column right">
      <%= cl_image_tag @episode.podcast.photo.key, class: "episode-show-image" %>

      <div class="episode-info m-4">
        <% if user_signed_in? %>
            <% if current_user.favorites.where(episode: @episode).empty? %>

              <button class="favorites btn btn-warning">Add to Favorites</button>
              <%= link_to "", episode_favorites_path(@episode), method: :post, remote: true, id: "magic", class: "hidden" %>
              <% else %>
              <%= link_to "Remove from Favorites", favorite_path(@favorite), method: :delete, remote: true, class: "favorites btn btn-dark" %>

            <% end %>
        <% end %>
        <h5 class="mt-3">Episode Categories:</h5>
        <p>Fitness, Media, Politics etc etc...</p>
      </div>

    </div>
  </div>
</div>

  <div class="reviews-container">
      <h5 class="reviews-heading">Community Reviews:</h5>
      <ul>
      <% @reviews.each do |review| %>
        <li><%= review.content %></li>
        <li><%= '⭐️' * review.rating %></li>
      <% end %>
      </ul>
      <% if user_signed_in? %>
        <% if current_user.reviews.where(episode: @episode).empty?  %>

          <%= render partial: 'review_form', locals: {episode: @episode, review: @review}  %>
        <% else %>
          <%= link_to "Edit your review", reviews_path, class: "btn btn-dark mt-4"  %>
        <% end %>
      <% end %>

      <%= link_to "Back to Home", root_path, class: "btn btn-danger mt-4"  %>
    </div>
