
<!-- Main Home Banner -->

<div class="banner">
  <div class="container">
    <div class="banner-content">
      <div class="banner-info">
        <h1 class="main-heading mb-5">The World's Largest <br> Podcast Database</h1>
        <%= link_to "Explore all podcasts", podcasts_path, class: "btn-black" %>
        <div class="search-bar-home">
          <%= render 'shared/search_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center m-5">Our Popular Episodes</h2>

<div class="popular-cards-container">
  <% @popular_episodes.each do |episode| %>
    <div class="episodes-container">
      <div class="podcast">
        <div class="podcast-preview">
          <h5><%= episode.podcast.name%></h5>
          <p><%= episode.podcast.category %></p>
          <%= link_to "All Episodes", podcast_path(episode.podcast) %>
          <a href="#"><i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="episode-info" id="<%= episode.id %>">
          <span><%= '⭐️' * episode.average_rating if episode.average_rating.present? %></span>
          <h5><%= link_to episode.name.truncate(105) , episode, class: "ep-name-link" %></h5>
          <p><%= episode.description.truncate(200)%></p>

          <% if user_signed_in? %>
            <% if current_user.favorites.where(episode: episode).empty? %>
              <button class="add-to-fave favorites">Add to Favorites</button>
              <%= link_to "", episode_favorites_path(episode), method: :post, remote: true, class: "hidden magic" %>
              <% else %>
              <%= link_to "Remove from Favorites", favorite_path(episode.favorite.ids[0]), method: :delete, remote: true, class: "add-to-fave" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>



