
<! -- Main Home Banner -->

<div class="banner">
  <div class="container">
    <div class="banner-content">
      <div class="banner-info">
        <div>
          <h1 class="main-heading">The World's Largest <br> Podcast Database</h1>
        </div>
        <div class="search-bar-home">
          <%= render 'shared/search_form' %>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center m-5">Our Popular Episodes</h2>

<div class="popular-cards-container">
  <% @popular_episodes.each do |episode| %>
    <div class="episodes-container">
      <div class="podcast">
        <div class="podcast-preview">
          <h4><%= episode.podcast.name %></h4>
          <p><%= episode.podcast.category %></p>
          <%= link_to "All Episodes", podcast_path(episode.podcast) %>
          <a href="#"><i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="episode-info">
          <span><%= '⭐️' * episode.average_rating if episode.average_rating.present? %></span>
          <h3><%= link_to episode.name , episode, class: "ep-name-link" %></h3>
          <p><%= episode.description.truncate(250)%></p>
          <button class="add-to-fave">Add to Favorites</button>
        </div>
      </div>
    </div>
  <% end %>
</div>



