<!-- Meta Information -->
<% content_for :meta_title, "#{@podcast.name} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @podcast.description %>
<% content_for :meta_image, cl_image_path(@podcast.photo.key) %>
<!-- Meta Information -->
<div class="podcast-show-banner">
  <div class="podcast-show-info">
    <h3 class="pod-show-title mb-4"><%= @podcast.name %></h3>
    <h5 class="pod-description"><%= @podcast.description %></h5>
  </div>
  <%= cl_image_tag @podcast.photo.key, class: "pod-show-img", id: "image-pod" %>
</div>


<div class="pod-index-container">
  <% @episodes.each_with_index do |episode, index| %>
    <%= link_to episode_path(episode) do  %>
      <div class="pod-index-card">
        <div class="podcast-list">
          <div class="flex-btwn">
            <div class="episode-name-link">
              <span><%= index + 1 %>. </span><%= episode.name %>
            </div>
            <% if episode.average_rating %>
              <div>
                <%= sanitize '<i class="fas fa-star stars"></i>' * episode.average_rating %>
              </div>
            <% else %>
              <div>
                <%= sanitize '<i class="fas fa-star stars"></i>' * 0 %>
              </div>
            <% end %>
            <div>
            <% if user_signed_in? %>
              <% if current_user.favorites.where(episode: episode).empty? %>
                <%= link_to "Add to Favorites", episode_favorites_path(episode), method: :post, remote: true, class: "add-to-fave-small" %>
                <% else %>
                <%= link_to "Remove from Favorites", favorite_path(episode.favorite.ids[0]), method: :delete, remote: true, class: "remove-fave-small" %>
              <% end %>
            <% end %>
            </div>
          </div>
          <p class="opacity-text"><%= episode.description.truncate(235) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


